body {
    background-color: white;
    }
h1  {
    color: darkslategrey;
    font-family: verdana;
    text-align: center;
    font-size: 300%;
    }
p   {
    color: black;
    font-family: verdana;
    font-size: 150%;
   }
table#t01{
    width: 80%;
    background-color:  darkslategrey;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    margin:auto;
    }
table#t01 caption{
    color: darkslategrey;
    font-family: verdana;
    font-size: 200%;
    font-weight: bold;
    }
table#t01 th{
    border: 2px solid black;
    border-spacing: 10px;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: darkslategrey;
    font-family: verdana;
    }
table#t01 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    font-family: verdana;
    }
table#t01 tr:nth-child(even) {
    background-color: grey;
    }
table#t01 tr:nth-child(odd) {
    background-color: #fff;
    }
